[submodule "Middleware/Third_Party/FreeRTOS-Kernel"]
	path = Middleware/Third_Party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "Middleware/Third_Party/FreeRTOS-Plus-TCP"]
	path = Middleware/Third_Party/FreeRTOS-Plus-TCP
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP
[submodule "Middleware/Third_Party/FreeRTOS-Plus-FAT"]
	path = Middleware/Third_Party/FreeRTOS-Plus-FAT-Port/FreeRTOS-Plus-FAT
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-FAT
	branch = main
